
<div class="container" id="home-container">
  <div class="jumbotron text-center bg-dark text-white" >
  <h1 class="display-4" id="home-title">Welcome!</h1>
  <p class="lead">This is a simple blog application that I'm using to practice my Rails skills on!</p>
  <hr class="my-4">
  <p>Please help yourselves to creating an account and making some articles!</p>
  <p class="lead">
    <%= link_to 'Sign up', signup_path, class: "btn btn-outline-light btn-lg" %>
  </p>
</div>
</div>
