
<div class="container" id="home-container">
  <div class="jumbotron text-center bg-dark text-white" >
  <h1 class="display-4" id="home-title">Welcome to Blogtastical!</h1>
  <p class="lead">Please create an account or log in to start sharing your writing with the world!</p>
  <hr class="my-4">
  <p></p>
  <p class="lead">
    <%= link_to 'Create Account', signup_path, class: "btn btn-outline-light btn-lg" %>
    <%= link_to 'Log In', login_path, class: "btn btn-outline-light btn-lg" %>
  </p>
</div>
</div>
