@import 'bootstrap/dist/css/bootstrap';

.navbar {
    background-color: black !important;
}

.nav-link {
    color: white !important;
}

html,
body {
    color: white;
    height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

.card-body {
    color: white;
}  

.card-header {
    color: white;
}

.card-text {
    color: white;
}
#logo {

    float: left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
    
}

#home-container {
    margin-top: 24px;
}

#page-content {
    background-color: #606688; 
    flex: 1 0 auto;
} 

#sticky-footer {
    flex-shrink: none;
}
.apple_pagination {
    background: #606688;
    text-align: center;
    padding: 1em;
    cursor: default;
}
.apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em;
}
.apple_pagination .disabled {
    color: white;
}
.apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
}
.apple_pagination a {
    text-decoration: none;
    color: white; 
}
.apple_pagination a:hover, .apple_pagination a:focus {
    text-decoration: underline;
}
